.Contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #1f2937;
    color: white;
}

.img{
    width: 50%;
}



.info{
    width: 40%;
    margin:0 auto;
    text-align: center;
    padding-top: 80px;

}

.info h1{
    margin-top: 20px;
    font-size: 40px;
}

.info h2{
    text-align: center;
    font-size: 30px;
    color: #facc15;
    margin-bottom: 20px;
    margin-top: 20px;
}

.info h3{
    text-align: center;
    color: #38bdf8;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info p{
    color: #7f8c8d;
    font-weight: bold;
}

.img img{
    max-width: 100%;
}
button {
    background-color: #facc15;
    color: #1f2937;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #ffe066;
}

.Footer {
  background: #1e3a8a;
  height: 30px;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
}